<div class="form">
  <h1>Add A New User To My CallRail Account!!!</h1>
  <form action="url goes here" method="POST">
    <div class="name">
      <input type=text name="Name" placeholder="Name">
    </div>
    <div class="email">
      <input type=text name="Email" placeholder="Email">
    </div>
    <br />
    <br />
    <input type="submit" value="Submit">
  </form>
</div>