<form action="url goes here" method="POST">
  <p>Name</p>
    <input type=text name="Name">
  <p>Email</p>
    <input type=text name="Email">
  <br />
  <br />
    <input type="submit" value="Submit">
</form>