// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
  text-align: center;
}

.name {
  margin-right: 10px;
  display: inline-block;
}

.email {
  margin-left: 10px;
  display: inline-block;
}